<div class="space-y-12">
    
    <h1>Dashboard</h1>

    <p>
        Welcome, <%= Current.user.email_address %>
    </p>

    <%= button_to "Logout", session_path, method: :delete, class: "btn btn-danger" %>

    <h2>Your Todo Lists</h2>

    <p>
        <%= link_to "Manage Your Todo Lists", todo_lists_path, class: "btn btn-primary" %>
    </p>

    <h2>All Users</h2>
    
    <ul>
        <% User.all.each do |user| %>
            <li><%= user.email_address %></li>
        <% end %>
    </ul>

</div>
